
h1, h3 {
    color: white;
    margin-left: 20px;
    text-align: center;
}

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1552px 765px #FFF;
    animation: animStar 50s linear infinite;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 931px 766px #FFF;
    animation: animStar 100s linear infinite;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinite;
}

img {
    display: block;
    margin: 50px auto;
    width: 50%;
    height: 60%;
}


@keyframes animStar {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(2000px);
    }
}
