.galaxycard {
    width: 300px;
    background-color: rgb(200, 200, 200);
    height: 400px;
    position: absolute;

    &.sideA {
        position: absolute;
    }

    &.sideB {
        h2 {
            top: 15px;
            left: 75px;
            font-size: 15px;
            position: absolute;
        }
        h1 {
            left: 42px;
            top: 25px;
            font-size: 35px;
            position: absolute;
        }
        p {
            font-size: 14px;
            padding: 20px;
            top: 175px;
            position: absolute;
        }

        button {
            padding: 10px;
            position: absolute;
            left: 60px;
            top: 400px;
            font-style: bold;
        }

        img {
            position: absolute;
            top: 85px;
            padding: 20px;
            height: 80px;
            width: 260px;
        }
    }

    &.sideC {
        h2 {
            padding: 25px;
            position: absolute;
            font-size: 15px;
            font-weight: bold;
            top: 8px;
        }
        &.wishbox {
            padding: 20px;
            width: 255px;
            height: 200px;
            position: absolute;
            top: 80px;
        }
        button {
            width: 70px;
            position: absolute;
            top: 330px;
            left: 115px;
        }
    }

    img {
        position: absolute;
        height: 400px;
        width: 300px;
    }

}