.galaxycard {
    width: 300px;
    background-color: lightgrey;
    height: 400px;
    position: absolute;

    &.sideA {
        position: absolute;
    }

    &.sideB {
        h2 {
            top: 10px;
            left: 75px;
            font-size: 15px;
            position: absolute;
        }
        h1 {
            left: 42px;
            top: 20px;
            font-size: 35px;
            position: absolute;
        }
        p {
            padding: 20px;
            top: 65px;
            position: absolute;
        }
        // position: absolute;
    }

    img {
        position: absolute;
        height: 400px;
        width: 300px;
    }
}