  
  .welcomepage {
    padding: 15px;
    position: absolute;
    height: 600px;
    width: 1000px;

    h1 {
        font-size: 45px;
        position: absolute;
        font-family: 'Codystar', cursive;
        color: white;
        left: 100px;
    }
    h3 {
        position: absolute;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(143, 143, 143);
        left: 350px;
        top: 100px;
    }
}